{% load attachment_helpers %}
<!-- <script src="/static/attachments/js/vendor/ng-file-upload/ng-file-upload-all.min.js"></script> -->
<style>
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.no-border-top td, .no-border-top th{
border-top: none !important;
}
</style>
<script src="/static/attachments/js/vendor/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/static/attachments/js/vendor/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/static/attachments/js/pages/files.js"></script>

<div ng-controller="FilesController" ng-init="configURL({content_type_id:{{object|content_type_id}},pk:'{{object.pk}}'});init({content_type_id:{{object|content_type_id}},pk:'{{object.pk}}'});">

<div ngf-drop="uploadFiles($files)" class="drop-box" ng-model="file_uploads"
  ngf-drag-over-class="'dragover'" ngf-multiple="true">Drop files here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>


  <h4 ng-if="!files.length">There are currently no files.</h4>
<table class="table" ng-if="files.length">
<tr class="no-border-top"><th>File</th><th>Uploaded</th><th>Uploaded by</th><th>Description</th><th>Size</th><td></td></tr>
<tr ng-repeat="file in files | orderBy:'-uploaded'">
<td><a href="{[file.file]}">{[file.name]}</a></td>
<td>{[file.uploaded|date:'short']}</td>
<td>{[file.uploaded_by]}</td>
<td ng-if="!file.editing">{[file.description]}</td><td ng-if="file.editing"><textarea ng-model="file.description"></textarea></td>
<td>{[file.size]}</td>
<td>
	<button class="btn btn-xs btn-danger pull-right" ng-click="deleteFile(file,$index)">Delete</button>
	<button class="btn btn-xs pull-right" ng-if="!file.editing" ng-click="editFile(file)">Edit</button>
	<button class="btn btn-xs btn-success pull-right" ng-if="file.editing" ng-click="saveFile(file)">Save</button>
</td>
</tr>
</table>
</div>
